@{
//<%@ include file="Protecao.jsp" %>
}

<html>
<head>
	<meta charset="utf-8"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
	
<style >
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'poppins', sans-serif;
			;
		}

		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
			background-color: rgb(12, 160, 160);
		}
		a{
		color:black;
		text-decoration:none;
		}

		h2{
			text-align:center
		}

		section {
			position: relative;
			width: 550px;
			height: 850px;
			margin: 50px auto;
			text-align: center;
			background-color: rgb(159, 224, 224);
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 20px;
		}

        form {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			
			
		}


		table,tr,th{
        border: 1px solid black;
        border-spacing: 0px;
		 }
    tr,td,th{
    	border: 1px solid black;
        padding: 8px;
        padding-left: 8px;
        padding-right:15px;
    }

	
			
		input {
			display: block;
			
			margin: 10auto;
			width: 250px;
			height: 30px;
			border-radius: 5px;
		}
	

		footer {
			color: black;
			text-align: center;
			font-style: italic;
			margin-bottom: 20px;
		}
</style>
<br />

<a href="/Imobiliaria/PageAreaAdministrativa">Voltar</a>

<br /><br />
<h2>Gerenciar Produtos</h2>
<br>
<section>
<form>

	Foto do produto<br />
	<img id="foto" style="height:150px; width:150px; border:1px solid black"><br />
	<input id="inp" type="file">

	<br /><br />
	<!-- Foto...........: <span id="foto_texto"></span><br> -->
			<input type="text" id="codigo" placeholder=" Codigo" disabled><br>
	<input type="text" id="tipo" placeholder="Produto"><br>
			<input type="text" id="desc" placeholder="Descrição"><br>
			<input type="text" id="valor" placeholder=" Valor: R$ 0,00"><br><br>
	
	<input type="button" value="Buscar" onclick="consultar()">
	<input type="button" value="Salvar" onclick="inserirOuAlterar()">
	<input type="reset" value="Limpar" onclick="limpar()"><br><br>


	<table>
		<thead>
		<tr>
		<th>Editar</th>
		<th>Excluir</th>
		<th>Código</th>
		<th>Tipo</th>
		<th>Descrição</th>
		<th>Valor (R$)</th>
		</tr>
		</thead>
		<tbody id="corpo_da_tabela">
		</tbody>
	</table>
</form>


</section>
<script>
	function limpar(){
		document.getElementById("foto").src = null;
	}

	function readFile() {  
	    if (!this.files || !this.files[0]) return;    
	    const fileReader = new FileReader();    
	    fileReader.addEventListener("load", function(evt) {
	        document.querySelector("#foto").src = evt.target.result;
	    }); 
	    fileReader.readAsDataURL(this.files[0]);  
	}
	document.querySelector("#inp").addEventListener("change", readFile);

	function editar(codigo, foto, tipo, desc, valor){
		document.getElementById("codigo").value = codigo;
		document.getElementById("foto").src = foto;
		document.getElementById("tipo").value = tipo;
		document.getElementById("desc").value = desc;
		document.getElementById("valor").value = valor;
	}
	
	function confirmarExcluir(codigo){
		if (confirm("Deseja realmente excluir?")){
			excluir(codigo);
		}
	}
	
	function inserirOuAlterar(){		
		var jsonEnvio = {};
		jsonEnvio.codigo = document.getElementById("codigo").value;
		jsonEnvio.foto   = document.getElementById("foto").src;
		jsonEnvio.tipo   = document.getElementById("tipo").value;
		jsonEnvio.desc	 = document.getElementById("desc").value;
		jsonEnvio.valor  = document.getElementById("valor").value;
		var acao = "";
		if (jsonEnvio.codigo!=""){
			acao = "Alterar";	
		}else{
			acao = "Inserir";
		}
		$.ajax({
			url: "/Produtos/" + acao + "/",
			data: jsonEnvio,
			type:"post",
			success: function (resp){
				alert(resp);
				consultar();
			},
			error: function (){
				alert("Ocorreu um erro ao excluir!!!");
			}
		});
	}
	
	function consultar(){
		var jsonEnvio = {};
		jsonEnvio.acao = "consultar";
		$.ajax({
			url: "/Produtos/Buscar/",
			data: jsonEnvio,
			type:"post",
			success: function (resp){
				var jsonVetor = resp;
				var linhas = "";
				
				for (i=0;i<jsonVetor.length;i++){
					
					var codigo = jsonVetor[i].codigo;
					var foto   = jsonVetor[i].foto;
					var tipo   = jsonVetor[i].tipo;
					var desc   = jsonVetor[i].desc;
					var valor  = jsonVetor[i].valor;
					
					linhas += `
						<tr>
									<td><img src="/img/editar.png" onclick="editar(`+ codigo + `, '` + foto + `','` + tipo + `' ,'` + desc + `', ` + valor + `)"/></td>
							<td><img src="/img/excluir.png" onclick="confirmarExcluir(`+ codigo + `)"/></td>
							<td>`+ codigo + `</td>
							<td>`+ tipo + `</td>
							<td>`+ desc + `</td>
							<td>`+ valor + `</td>
						</tr>
					`;
				}
				
				document.getElementById("corpo_da_tabela").innerHTML = linhas;
			},
			error: function (){
				alert("Ocorreu um erro ao consultar!!!");
			}
		});
	}
	
	function excluir(codigo){
		var jsonEnvio = {};
		jsonEnvio.codigo = codigo;
		$.ajax({
			url: "/Produtos/Excluir/",
			data: jsonEnvio,
			type:"post",
			success: function (resp){
				alert(resp);
				consultar();
			},
			error: function (){
				alert("Ocorreu um erro ao excluir!!!");
			}
		});
	}


</script>

	
</body>
</html>